header{
    background-color: bisque;
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    
}


.div1{
  
  padding: 60px;
  line-height: 30px;
}

.div2{
  text-align: center;
  
}
.logoCentral{
    height: 100px;
}

.div3{
  text-align: left;
  padding: 60px;
  line-height: 30px;
}

nav{
    background-color: gray;
    display: flex;
}

nav a{
    padding: 140px;
}
/* --------------------------------------------*/

section{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;

}

.divsection1{
    text-align: center;
}
.divsection2{
    text-align: center;

}

.artesania1{
    padding: 40px;
}

.detalle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
    
}
.detalle1{
    height: 200px;
    width: 180px;
    padding: 100px;
   
    
}
.detalle2{
    height: 200px;
    width: 180px;
    padding: 100px;
    
}
.detalle3{
    height: 200px;
    width: 180px;
    padding: 100px;
}