*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}
header{
    background-color: bisque;
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    
}


.div1{
  
  padding: 60px;
  line-height: 30px;
}

.div2{
  text-align: center;
  
}
.logoCentral{
    height: 100px;
}

.div3{
  text-align: left;
  padding: 60px;
  line-height: 30px;
}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "my-nav" "my-section" ;
   
}

nav{
    background-color: gray;
    display: flex;
    height: 50px;
    align-items: center;
    grid-area: my-nav;
}

nav a{
    padding: 140px;
}
/* --------------------------------------------*/

section{
  background-color: cornflowerblue;  
  grid-area: my-section;
  
}


/* =========================================*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    height: 250px;
}

.div4, .div5, .div6, .div7{
    text-align: center;  
    
}
.logoPiePagina{
    height: 150px;
}
.div5 ul{
   list-style: none;
   text-align: center;
}

.Email{
    display: block;
    margin-bottom: 10px;
    
}

.div7 .Nombre, .Email{
    line-height: 10px;
    margin-bottom: 10px;
    
}

@media(min-width:600px) and (max-width:1000px){
    header{
        height: 100px;
        line-height: 80px;

    }
    main{
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "my-nav" "my-section";
    }
    nav ul{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
}



