/*=========================================ENCABEZADO======================================================*/
header{
    background-color: beige;
}
.logo{
   height: 200px; 
}
.iconos-encabezado{
     padding-left: auto;
  padding-right: 70px;
   
}
.navegacion{
     padding-left: auto;
  padding-right: 70px;
}
/* ==========================================================================================================*/

/* ==============================================MAIN=======================================================*/

.titulo-compras{
    padding: 30px;
}

/* ==========================================================================================================*/

/* ====================================================FOOTER================================================*/
footer{
    background-color: beige;
}

.fila-piePagina{
    padding: 30px;
}

.iconos-piePagina i {
  margin-right: 10px;
  list-style: none;
}

.iconos-piePagina{
  list-style: none;
}

