/*=========================================ENCABEZADO======================================================*/
header{
    background-color: beige;
}
.logo{
   height: 200px; 
}
.iconos-encabezado{
     padding-left: auto;
  padding-right: 70px;
   
}
.navegacion{
     padding-left: auto;
  padding-right: 70px;
}
/* ==========================================================================================================*/

/* ==============================================MAIN=======================================================*/
.titulo-productos{
    padding: 30px;
}
.tarjeta-productos{
    padding: 30px;
}
.proyectos-logo{
   height: 4000px;
   width: 300px;
}

.card-img-top{
    height: 200px;
}


/* ==========================================================================================================*/

/* ====================================================FOOTER================================================*/
footer{
    background-color: beige;
}

.fila-piePagina{
    padding: 30px;
}

.iconos-piePagina i {
  margin-right: 10px;
  list-style: none;
}

.iconos-piePagina{
  list-style: none;
}

